<app-header>Admin</app-header>
<app-text-container>
  <mat-card>
    <mat-card-content>
      <mat-card-header>
        <mat-card-title>Test</mat-card-title>
      </mat-card-header>
    </mat-card-content>
  </mat-card>
</app-text-container>
