<app-main-nav [items] = "[{icon: 'play_circle_outline', label: 'Jogar', href: 'jogar'},
                          {icon: 'security', label: 'admin', href: 'admin/login'}]" >
  <router-outlet></router-outlet>
</app-main-nav>
