<app-header>Jogar</app-header>
<app-text-container>
  <mat-card>
    <mat-card-content>
      <mat-form-field>
        <input matInput placeholder="Insira o codigo">
      </mat-form-field>
    </mat-card-content>
  </mat-card>
</app-text-container>
