/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html,
body {
  height: 100%;
  font-family: Roboto,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
  font-size: 16px;
}

h1 {
  font-weight: lighter;
  letter-spacing: -1.5px;
}

h2 {
  font-weight: lighter;
  letter-spacing: -0.5px;
}

body {
  margin: 0;
}

